# Ignore files created by package managers
/node_modules
/npm-debug.log
/app/bower_components

# Ignore environment files
/config.json
/users/*
!/users/consensus-reality
/server.log

# Ignore OS X directory files
.DS_Store
